
.content h1{
    font-size: 55px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;

}

.content h3{
    font-size: 25px;
    font-weight: 100;
    margin-top: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}



.flexcontainer{

    /* position: absolute; */
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.table_1{    
    
    margin-top: 5%;
    width: 65%;
    text-align: center;
    border-width: 10px;
    border-style:groove;
    Border-color: rgba(204, 211, 169, 0.151);
   
}

.table_2{    
    
    margin-top: 5%;
    width: 65%;
    text-align: center;
    border-width: 10px;
    border-style: groove;
    Border-color: rgba(204, 211, 169, 0.151);
   
}

.new{
  /*position: relative;*/

  background: #1b049e;
  border: none;
  color: white;
  cursor: pointer;
  padding: 2em 7em;
  text-align: center;
  border-radius: 2em;
  font-size: 0.65em;
}
.new:hover {background-color: blue;}

.a1{
    vertical-align: bottom;
    text-align: center;
    width: 50%;
}
.a2{
    width: 18%;
}
.a3{
    color: gold;
}
.a4{
    text-align: center;
}
.b1{
    text-align: center;
}
.b2{
    height: 50px;
    color: red;
    text-align: center;
    width: 23%;
}
.b3{
    text-align: center;
    color: rgb(23, 233, 23);
}
.b4{
    text-align: center;
    vertical-align: auto;
    width: 50%;
    height: 80px;
}
.b5{
    text-align: center;
    vertical-align: bottom;
}
.b6{
    vertical-align: top;
    text-align: justify;
    padding-left: 12rem;
}
.b7{
    vertical-align:auto;
    text-align:center;
    width: 50%;
    height: 100px;
}
.b8{
    text-align:justify;
    vertical-align: bottom; 
    padding-left: 12rem;
}
.c1{
    text-align:center;
    padding-bottom: 30px;   
}
@media(max-width: 760px){
    body{
        width: 152.7%;
    }
    .content h1{
        font-size: 25px;
    }
    .content h3{
        font-size: 18px;
    }
    .flexcontainer{
        display: block;
    }
    .table_1{
        width: auto;
        margin-left: 2.75rem;
        margin-right: 2.1rem;
    }
    .table_2{
        width: auto;
    }
    .a1 h2{
        font-size: 24px;
    }
    .a3 h2, h3, p{
        font-size: 20px;
    }
    .b1{
        padding-top: 1rem;
    }

}
